<launch>
    <!--  ************** Global Parameters ***************  -->
    <arg name="controller" default="common" doc="opt: common, mpc, lqr, pid" />
    <arg name="trajectory_type" default="straight" doc="opt: straight, circle, curve" />

    <!--  ************** Reference trajectory generation **************  -->
    <node name="trajectory_generate" pkg="scout_unitree_control" type="trajectory_generate"> </node>

    <!--  ************** Tracking Node **************  -->
    <node name="scout_tracking" pkg="scout_unitree_control" type="scout_tracking" output="screen"
        if="$(eval controller == 'common')">
        <rosparam file="$(find scout_unitree_control)/config/scout_tracking.yaml" command="load" />
    </node>

</launch>